{% extends 'baseAll.html.twig' %}

{% block title %}HardwareTech - Connexion panel{% endblock %}

{% block body %}

<div id="login-page">
    <div class="container">
      <form class="form-login" action="{{ path('security_login')}}" method="post">
        <h2 class="form-login-heading">SERVICE INFORMATIQUE JUDICIAIRE</h2>
        
        <div class="login-wrap">
          <input type="text"  name="_username" id="inputUsername" autocomplete="off" class="form-control placeholder-no-fix" autocomplete="username" required autofocus>
          <br>
          <input type="password" name="_password" id="inputPassword" class="form-control" autocomplete="current-password" required>
          <label class="checkbox">
            <span class="pull-right">
            <a data-toggle="modal" href="login.html#myModal"> Pas de compte ?</a>
            </span>
            </label>
          <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i>CONNEXION</button>
          <hr>
          <div class="login-social-link centered">
           
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
