{% extends 'baseAll.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div id="login-page">
    <div class="container">
      <form class="form-login" method="POST">
          {% if error %}
                <div class="col s12 m6 l6 offset-m3 offset-l3">
                    <span class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                </div>
            {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
        <h2 class="form-login-heading">Intranet InterService</h2>
        <div class="login-wrap">
        <label>MATRICULE</label>
          <input type="text" value="{{ last_username }}" name="_username" id="inputUsername" class="form-control placeholder-no-fix">
          <br>
          <label>MOT DE PASSE</label>
          <input type="password" name="_password" id="inputPassword" class="form-control">
          <label class="checkbox">
            {# <input type="checkbox" value="remember-me"> Remember me #}
            <span class="pull-right">
            <a data-toggle="modal" href=""> Pas de compte ?</a>
            </span>
            </label>
          <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> CONNEXION</button>
          <hr>
          <div class="login-social-link centered">
            <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    
          </div>
          {# <div class="registration">
            <br/>
            <a class="" href="#">
              Create an account
              </a>
          </div> #}
        </div>
        <!-- Modal -->
        <!-- modal -->
      </form>
    </div>
  </div>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
{% endblock %}
