{% extends 'base.html.twig' %}

{% block title %}Registration Account{% endblock %}

{% block body %}
<div id="login-page">
    <div class="container">
{{ form_start(form, {'attr': {'class': 'form-login'}})}}
 <h2 class="form-login-heading">Inscription d'un agent au service</h2>

 <div class="login-wrap">

{{ form_row(form.username, {'attr': {'class': 'form-control placeholder-no-fix'}})}}
{{ form_row(form.name, {'attr': {'class': 'form-control placeholder-no-fix'}})}}
{{ form_row(form.email, {'attr': {'class': 'form-control placeholder-no-fix'}})}}
{{ form_row(form.password, {'attr': {'class': 'form-control placeholder-no-fix'}})}}
{{ form_row(form.matricule, {'attr': {'class': 'form-control placeholder-no-fix'}})}}
{{ form_row(form.grade, {'attr': {'class': 'form-control placeholder-no-fix'}})}}
{{ form_row(form.service, {'attr': {'class': 'form-control placeholder-no-fix'}})}}

 <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i>Enregistrer</button>
</div>
{{form_end(form)}}
 </div>
  </div>
{% endblock %}