{% extends 'baseAll.html.twig' %}

{% block title %}NEOSEARCH V1.0{% endblock %}

{% block body %}
{% include './includes/menu.html.twig' %}

    <section id="main-content">
      
    </section>
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
      <div class="text-center">
        <p>
          &copy; Copyrights <strong>HardwareTech 2021/2022</strong>. All Rights Reserved
        </p>
        <div class="credits">
          <!--
            You are NOT allowed to delete the credit link to TemplateMag with free version.
            You can delete the credit link only if you bought the pro version.
            Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/dashio-bootstrap-admin-template/
            Licensing information: https://templatemag.com/license/
          -->
          Création de HardwareTech
        </div>
        
      </div>
    </footer>
    <!--footer end-->
  </section>
{% endblock %}
