<form method="post" action="{{ path('plainte_delete', {'id': plainte.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ plainte.id) }}">
    <button class="btn">Delete</button>
</form>
