<div class="modifywidth">
{{ form_start(form) }}

    <div class="form-group">
     {{ form_label(form.agent, null, {
    'label': 'Nom de l\'agent rédacteur'
}) }}
        {{ form_widget(form.agent, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
    {{ form_label(form.heureDuDepot, null, {
    'label': 'Heure du Dépôt de plainte'
}) }}
        {{ form_widget(form.heureDuDepot, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
         {{ form_label(form.nomPlaignant, null, {
    'label': 'Nom du plaignant'
}) }}
        {{ form_widget(form.nomPlaignant, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
         {{ form_label(form.numeroPlaignant, null, {
    'label': 'Numéro du plaigant'
}) }}
        {{ form_widget(form.numeroPlaignant, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
         {{ form_label(form.lieuDesFait, null, {
    'label': 'Lieu ou c\'est passer les fait ?'
}) }}
        {{ form_widget(form.lieuDesFait, {'attr': {'class': 'form-control'}}) }}
    </div>

     <div class="form-group">
         {{ form_label(form.casier, null, {
    'label': 'Si le suspect est connue des service lié le ici à sont casier  ?'
}) }}
        {{ form_widget(form.casier, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
         {{ form_label(form.plainte, null, {
    'label': 'Rédaction de la plainte '
}) }}
        {{ form_widget(form.plainte, {'attr': {'class': 'form-control'}}) }}
    </div>
    <button class="btn btn-success" style="margin: 10px;">{{ button_label|default('SAUVEGARDER') }}</button>

{{ form_end(form) }}

    <div style="display:flex; align-items:center; justify-content: center; margin: 15px;">
     
    <a href="{{ path('plainte_index') }}"><button class="btn btn-warning" style="margin: 10px;">Retour à la liste</button></a>
   
    </div>
    </div>


