{% extends 'base.html.twig' %}

{% block title %}Edit Plainte{% endblock %}

{% block body %}
    <h1>Edit Plainte</h1>

    {{ include('plainte/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('plainte_index') }}">back to list</a>

    {{ include('plainte/_delete_form.html.twig') }}
{% endblock %}
