{% extends 'base.html.twig' %}

{% block title %}Plainte{% endblock %}

{% block body %}
        <h3><i class="fa fa-angle-right"></i> <a href="{{ path('plainte_new') }}"><button class="btn btn-success">Nouvelle plainte</button></a></h3>
        <div class="row mt">
          <div class="col-lg-12">
            <div class="content-panel">
             
              <section id="unseen">
<table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Agent</th>
                <th>HeureDuDepot</th>
                <th>NomPlaignant</th>
                <th>NumeroPlaignant</th>
                <th>LieuDesFait</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plainte in plaintes %}
            {% if app.user.groupe == plainte.groupe  %}
                <tr>
                    <td>{{ plainte.id }}</td>
                    <td>{{ plainte.agent }}</td>
                    <td>{{ plainte.heureDuDepot ? plainte.heureDuDepot|date('H:i:s') : '' }}</td>
                    <td>{{ plainte.nomPlaignant }}</td>
                    <td>{{ plainte.numeroPlaignant }}</td>
                    <td>{{ plainte.lieuDesFait }}</td>
                    <td>
                        <a href="{{ path('plainte_show', {'id': plainte.id}) }}"><button type="button" class="btn btn-warning"><i class="fas fa-edit"></i></button></a>
                        <a href="{{ path('plainte_edit', {'id': plainte.id}) }}"><button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button></a>
                    </td>
                </tr>
        {% endif %}
        {% else %}
            <tr>
                <td colspan="8">Aucune plainte pour le moment</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
     </div>
            <!-- /content-panel -->
          </div>
          <!-- /col-lg-4 -->
        </div>
        </div>

   
     </section>
 <!--main content end-->
    <!--footer start-->
 
{% endblock %}
