{% extends 'base.html.twig' %}

{% block title %}Depot de plainte{% endblock %}

{% block body %}
    <h1>Création d'un dêpot de plainte</h1>
<div class="flexTest">
    {{ include('plainte/_form.html.twig') }}
</div>
    
{% endblock %}
