{% extends 'base.html.twig' %}

{% block title %}Plainte{% endblock %}

{% block body %}
    <h1>Plainte</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ plainte.id }}</td>
            </tr>
            <tr>
                <th>Agent</th>
                <td>{{ plainte.agent }}</td>
            </tr>
            <tr>
                <th>HeureDuDepot</th>
                <td>{{ plainte.heureDuDepot ? plainte.heureDuDepot|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>NomPlaignant</th>
                <td>{{ plainte.nomPlaignant }}</td>
            </tr>
            <tr>
                <th>NumeroPlaignant</th>
                <td>{{ plainte.numeroPlaignant }}</td>
            </tr>
            <tr>
                <th>LieuDesFait</th>
                <td>{{ plainte.lieuDesFait }}</td>
            </tr>
            <tr>
                <th>Plainte</th>
                <td>{{ plainte.plainte }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('plainte_index') }}">back to list</a>

    <a href="{{ path('plainte_edit', {'id': plainte.id}) }}">edit</a>

    {{ include('plainte/_delete_form.html.twig') }}
{% endblock %}
