 <section id="container">
 <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="index.html" class="logo"><b>NEO<span>SEARCH</span></b></a>
      <!--logo end-->
      <div class="nav notify-row" id="top_menu">
      </div>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
        {% if app.user.username is defined %}
          
          <li><a class="logout" href="{{ path('security_logout')}}">Déconnexion</a></li>
        {% endif %}
        </ul>
      </div>
    </header>
 <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered">{% if app.user.service == "LSPD" %}<img src="https://prod.cloud.rockstargames.com/crews/sc/5282/44515541/publish/emblem/emblem_512.png" class="img-circle" width="80">{% else %}<img src="https://pbs.twimg.com/profile_images/1119312498182635520/5GCcoJ7f.png" class="img-circle" width="80">{% endif %}</p> 
          <h5 class="centered">{% if app.user.service == "LSPD" %} <strong style="color:#7474eb">LSPD {{ app.user.matricule }}-{{ app.user.username }}<br/><p style="font-size:0.8em;">ID du groupe utilisateur : {{ app.user.groupe }}</p><strong> {% else %}<strong style="color:#15e885">BCSO {{ app.user.matricule }}-{{ app.user.username }}<strong><br/><p style="font-size:0.8em;">ID du groupe utilisateur : {{ app.user.groupe }}</p>{% endif %}</h5> 
          {% if is_granted('ROLE_ADMIN') %}
            <li class="sub-menu">
              <a href="javascript:;">
                <i class="fa fa-legal"></i>
                <span>Administration</span>
                </a>
              <ul class="sub">
                <li><a href="general.html"><i class="fa fa-user"></i> Crée un utilisateur</a></li>
                <li><a href="buttons.html"><i class="fa fa-user"></i> Lister les utilisateurs</a></li>
                <li><a href="buttons.html"><i class="fa fa-pencil"></i>Note de service</a></li>
              </ul>
            </li>
          {% endif %}
          
          <li class="mt">
            <a class="active" href="index.html">
              <i class="fa fa-dashboard"></i>
              <span>Information service</span>
              </a>
          </li>

          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-legal"></i>
              <span>Casier Judiciaire</span>
              </a>
            <ul class="sub">
              <li><a href="general.html"><i class="fa fa-search"></i> Voir</a></li>
              <li><a href="buttons.html"><i class="fa fa-file-text-o"></i> Créer</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-briefcase"></i>
              <span>Plaintes</span>
              </a>
            <ul class="sub">
                <li><a href="{{ path('plainte_index')}}"><i class="fa fa-search"></i> Voir</a></li>
                <li><a href="{{ path('plainte_new')}}"><i class="fa fa-file-text-o"></i> Créer</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-book"></i>
              <span>Rapport Interventions</span>
              </a>
            <ul class="sub">
               <li><a href="{{ path('rapport_index')}}"><i class="fa fa-search"></i> Voir</a></li>
                <li><a href="{{ path('rapport_new')}}"><i class="fa fa-file-text-o"></i> Créer</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-tasks"></i>
              <span>Saisie</span>
              </a>
            <ul class="sub">
              <li><a href="general.html"><i class="fa fa-search"></i> Voir</a></li>
                <li><a href="buttons.html"><i class="fa fa-file-text-o"></i> Créer</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-th"></i>
              <span>Avis de Recherche</span>
              </a>
            <ul class="sub">
              <li><a href="general.html"><i class="fa fa-search"></i> Voir</a></li>
                <li><a href="buttons.html"><i class="fa fa-file-text-o"></i> Créer</a></li>
            </ul>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>