
<div class="modifywidth">
{{ form_start(form) }}

  <div class="form-group">
     {{ form_label(form.createdAt, null, {
    'label': 'Date des Faits'
}) }}
        {{ form_widget(form.createdAt, {'attr': {'class': 'form-control'}}) }}
    </div>

   


    <button class="btn btn-success" style="margin: 10px;">{{ button_label|default('SAUVEGARDER') }}</button>
{{ form_end(form) }}

    <div style="display:flex; align-items:center; justify-content: center; margin: 15px;">
     
    <a href="{{ path('rapport_index') }}"><button class="btn btn-warning" style="margin: 10px;">Retour à la liste</button></a>
   
    </div>

    </div>
