{% extends 'base.html.twig' %}

{% block title %}Liste des rapports{% endblock %}

{% block body %}

        <h3><i class="fa fa-angle-right"></i> <a href="{{ path('rapport_new') }}"><button class="btn btn-success">Nouveau Rapport</button></a></h3>
        <div class="row mt">
          <div class="col-lg-12">
            <div class="content-panel">
              <section id="unseen">
<table class="table table-bordered table-striped table-condensed">
                  <thead>
                    <tr>
                       
                        <th>Agent Présent</th>
                        <th>Suspect</th>
                        <th>Date des faits</th>
                        <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for rapport in rapports %}
                    <tr>
                        
                        
                        <td>{{ rapport.agentSurInter }}</td>
                        <td>{{ rapport.nom }} - {{ rapport.prenom }}</td>
                        <td>{{ rapport.dateFait ? rapport.dateFait|date('d-m-Y H:i:s') : '' }}</td>
                        <td>
                            <a href="{{ path('rapport_show', {'id': rapport.id}) }}"><button class="btn btn-theme"><i class="fa fa-eye"></i></button></a>
                            {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('rapport_edit', {'id': rapport.id}) }}"><button class="btn btn-theme"><i class="fa fa-edit"></i></button></a>
                            {{ include('rapport/_delete_form.html.twig') }}
                            {% endif %}
                        </td>
                        
                    </tr> 
                    {% else %}
                    <tr>
                        <td colspan="12">Aucun Rapport actuellement</td>
                    </tr>
                {% endfor %}                  
                  </tbody>
                  
                </table>
 </div>
            <!-- /content-panel -->
          </div>
          <!-- /col-lg-4 -->
        </div>
        </div>

   
     </section>
 <!--main content end-->
    <!--footer start-->
{% endblock %}
