{% extends 'base.html.twig' %}

{% block title %}New Rapport{% endblock %}

{% block body %}
    <h1>Create new Rapport</h1>
<div class="flexTest">
    {{ include('rapport/_form.html.twig') }}
</div>
    <a href="{{ path('rapport_index') }}">back to list</a>
{% endblock %}
