{% extends 'base.html.twig' %}

{% block title %}Rapport{% endblock %}

{% block body %}
    <h1>Rapport</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rapport.id }}</td>
            </tr>

             <tr>
                <th>Agent Rédacteur</th>
                <td>{{ rapport.agent }}</td>
            </tr>

            <tr>
                <th>Agent intervenue</th>
                <td>{{ rapport.agentSurInter }}</td>
            </tr>
            <tr>
                <th>Nom Prenom du suspect</th>
                <td>{{ rapport.nom }} - {{ rapport.prenom }}</td>
            </tr>
            <tr>
                <th>Date de Naissance</th>
                <td>{{ rapport.ddn|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ rapport.numero }}</td>
            </tr>
            <tr>
                <th>DateFait</th>
                <td>{{ rapport.dateFait|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>Rapport</th>
                <td>{{ rapport.rapport }}</td>
            </tr>
        </tbody>
    </table>

<div class="showback">
              <h4><i class="fa fa-angle-right"></i> Action disponible</h4>
              <!-- Standard button -->
            
              <a href="{{ path('rapport_edit', {'id': rapport.id}) }}"><button type="button" class="btn btn-theme02">Editer</button></a>
              <a href="{{ path('rapport_index') }}"><button type="button" class="btn btn-theme03">Liste des Rapports</button></a>
              {{ include('rapport/_delete_form.html.twig') }}
            </div>

    
{% endblock %}
