<form method="post" action="{{ path('saisie_delete', {'id': saisie.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ saisie.id) }}">
    <button class="btn">Delete</button>
</form>
