{% extends 'base.html.twig' %}

{% block title %}Saisie index{% endblock %}

{% block body %}
    <h1>Saisie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>PritSur</th>
                <th>Agent</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for saisie in saisies %}
            <tr>
                <td>{{ saisie.id }}</td>
                <td>{{ saisie.content }}</td>
                <td>{{ saisie.pritSur }}</td>
                <td>{{ saisie.agent }}</td>
                <td>{{ saisie.createdAt ? saisie.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('saisie_show', {'id': saisie.id}) }}">show</a>
                    <a href="{{ path('saisie_edit', {'id': saisie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('saisie_new') }}">Create new</a>
{% endblock %}
