{% extends 'base.html.twig' %}

{% block title %}Saisie{% endblock %}

{% block body %}
    <h1>Saisie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ saisie.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ saisie.content }}</td>
            </tr>
            <tr>
                <th>PritSur</th>
                <td>{{ saisie.pritSur }}</td>
            </tr>
            <tr>
                <th>Agent</th>
                <td>{{ saisie.agent }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ saisie.createdAt ? saisie.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('saisie_index') }}">back to list</a>

    <a href="{{ path('saisie_edit', {'id': saisie.id}) }}">edit</a>

    {{ include('saisie/_delete_form.html.twig') }}
{% endblock %}
